body{
    background: black; 
    color: white;
    font: 1rem Inconsolata, monospace;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
}
a{
    color: white;
    position: relative
}
a:hover{
    text-decoration: none;
    color: rgba(0, 250, 0, 1);
}
a:before{
    content: "";
    position:absolute;
    left: -16px;
}
a:hover:before{
    content: ">";
}
li{
    margin-bottom:16px; 
}
::selection {
    background: #0080FF;
    text-shadow: none;
}