<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class | Vue</title>    
 	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="app" class="container mt-5">

		<div :class="['p-3','text-white', selectedColor]">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

   		<select class="custom-select my-3" v-model="selectedColor">
        <option v-for="(fondo, index) in colors" :key="index" :value="fondo">{{ fondo }}</option>
      </select>

   		<div class="text-white p-3" :class="{ 'bg-info' : color, 'bg-success' : !color }">
   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
   		</div>
   		<button class="btn btn-primary my-3" @click="color = !color">Change color</button>
	</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/02.js"></script>
</body>
</html>